.m-wrapper__exhibit-container
  = link_to new_item_path, class: "m-wrapper__exhibit-container__link" do
    .m-wrapper__exhibit-container__link__box
      .m-wrapper__exhibit-container__link__box__text
        出品
      .m-wrapper__exhibit-container__link__box__icon
        %i.fas.fa-camera