.ta-items__contents__content
  = link_to "#" do
    = image_tag src="https://static.mercdn.net/thumb/photos/m24365090492_1.jpg?1556615000"
    .ta-items__contents__content__body
      %h3
        南海部品 キーホルダー ステッカー set
      .ta-itemprice
        ¥1,700
      .ta-like
        %i.far.fa-heart
        %span
          2    