body {
  background-color: #f5f5f5;
}

.ta-right-cotainer {
  height: 180px;
  width: 700px;
  background-color: white;
  float: right;
  margin-top: 50px;
  margin-right: 64px;
}

.ta-button {
  height: 50px;
  width: 320px;
  background-color: #ea352d;
  border: 1px solid #ea352d;
  color: white;
  font-size: 13px;
  margin: 65px 0 0 190px;
}