* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  box-sizing: inherit;
}

body{
  position: relative;
  min-height: 100%;
  background:#f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: 14px;
  line-height: 1;
}

.y-bread-crumbs{
  height: 50px;
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  ul{
    width: 1020px;
    padding: 16px;
    margin: 0 auto;
    white-space: normal;
  }
  li{
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
  }
  a{
    color: #333;
  }
  .fa-chevron-right{
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
}

.center-list{
  font-weight: 600;
}

main{
  display: block;
}

h3{
  font-size:22px;
}

.y-container{
  width: 1020px;
  margin: 40px auto 0;
  padding: 0 0 40px;
}
.y-content{
  float: right;
  width: 700px;
}
.y-mypage-user{
  height: 200px;
  position: relative;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?39597161");
  a {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    color: #333;
    text-decoration: none;
    touch-action: manipulation;
    }
  figure{
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .y-bold{
    margin: 8px 0 0;
    font-size: 14px;
    font-weight: 600;
  }
  &__number{
    margin: 8px 0 0;
    font-size: 0;
    span{
      margin: 0 0 0 8px;
      font-size: 16px;
    }
    .y-left-string{
      display: inline-block;
      font-size: 14px;
    }
    .y-right-string{
      display: inline-block;
      font-size: 14px;
      margin: 0 0 0 16px;
    }
  }
}

// ここからお知らせ、やることリスト部分
.fal.fa-clock{
  font-family: 'Font Awesome 5 Free';
}

.y-information{
  margin: 0;
  background: #fff;
  &__header{
    border: 0;
    background: #fff;
    font-size: 0;
  }
  &__notification{
    background: #fff;
     a{
       font-weight: bold;
       position: relative;
       display: block;
       color: #333;
       font-size: 16px;
       line-height: 72px;
       text-decoration: none;
     }
  }
  &_todo{
    background: #eee;
    a{
      font-weight: bold;
      position: relative;
      display: block;
      color: #333;
      font-size: 16px;
      line-height: 72px;
      text-decoration: none;
    }
  }
  li{
     width: 50%;
     display: inline-block;
     text-align: center;
     vertical-align: top;
  }
}