h3{
  font-size: 22px;
}

.y-side{
  width: 280px;
  margin: 0 40px 0 0;
}

.y-mypage-nav-list:first-child{
  border: 0;
}

.y-mypage-nav-list li{
  border-top: 1px solid #eee;
}

.y-mypage-nav-list-item-top:hover{
  background-color: #eee;
  transition: 0.5s;
  .fas.fa-chevron-right{
    color: #131313;
    position: absolute;
    right: 15px;
    transition: 0.3s;
    transform: translateX(5px);
  }
}

.y-mypage-nav-list-item:hover{
  background-color: #eee;
  transition: 0.5s;
  .fas.fa-chevron-right{
    color: #131313;
    position: absolute;
    right: 15px;
    transition: 0.3s;
    transform: translateX(5px);
  }
}

.y-mypage-nav-list-item-top{
  background: #fff;
  position: relative;
  display: block;
  padding: 16px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  .fas.fa-chevron-right{
    position: absolute;
    color: #333;
    right: 16px;
    font-size: 16px;
  }
}

.y-mypage-nav-list-item{
  position: relative;
  display: block;
  padding: 16px;
  font-size: 14px;
  color: #333;
  background: #fff;
  text-decoration: none;
  .fa-chevron-right{
    position: absolute;
    right: 16px;
    color: #ccc;
    font-size: 16px;
  }
}

.y-mypage-nav-head{
  margin: 40px 4% 0;
  font-size: 16px;
  font-weight: bold;
}

.y-mypage-nav-list{
  margin: 8px 0 0;
}

.y-mypage-nav-list li:first-child{
  border: 0;
}