

body {
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  min-width: 1440px;
}
.ta.fab.fa-facebook-square {
  font-size: 30px;
  float: left;
  margin-left: 10px;
}
.login__font {
  margin: 7px;
}
.ta.fab.fa-google {
  font-size: 22px;
  float: left;
  margin-left: 10px;
  margin-top: 7px;
}

.ta-container_signin {
  height: 1100px;
  width:100%;
  background-color: #f5f5f5;

}
.ta-container {
  height: 900px;
  width:100%;
  background-color: #f5f5f5;

}

.ta-single__header {
  height: 128px;
  width: 1440px;
  &__logo{
    height: 49px;
    width: 185px;
    margin: 0 auto;
    padding-top: 40px;
  }
}

.ta-single__main {
  height: 700px;
  &__signup {
    width:450px;
    height: 130px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    
    & p {
      font-size: 15px;
      padding: 30px 0 0 10px;
      margin-bottom: 10px;
    }
    & a {
      color: white;
      display: block;
      background: #0099e8;
      border: 1px solid #0099e8;
      text-decoration: none;
      height: 40px;
      line-height: 40px;
      width: 330px;
      font-size: 15px;
      margin: 0 auto;
    }
  }
  &__login {
    width: 450px;
    height: 160px;
    background-color: white;
    margin: 0 auto;
    border-top: 1px solid #eee;
    &__facebook {
      background-color: #385185;
      color: white;
      height: 50px;
      width: 330px;
      margin: 30px 0 10px 60px;
      font-size: 13px;
    }
    &__google {
      border: 1px solid black;
      height: 50px;
      width: 330px;
      margin: 10px 0 20px 60px;
      font-size: 13px;
    }
  }
  &__form {
    width: 450px;
    height: 410px;
    background-color: white;
    margin: 0 auto;
    &__email {
      width: 330px;
      height: 45px;
      margin: 40px 20px 0 60px ;
      border-radius: 5px 5px;
      border: 1px solid #ccc;
    }
    &__password {
      width: 330px;
      height: 45px;
      margin: 20px 20px 0 60px ;
      border-radius: 5px 5px;
      border: 1px solid #ccc;
    }
    &__submit {
      width: 335px;
      height: 45px;
      background-color: #ea352d;
      color: white;
      font-size: 15px;
      margin: 20px 20px 20px 60px ;
      border: 1px solid #ea352d;
    }
  }
}

.ta-password__get {
  font-size: 15px;
  text-decoration: none;
  margin-left: 60px;
  color: #0099e8;
}
.ta-check{
  height: 60px;
  width: 250px;
  background-color: #f9f9f9;
  font-size: 13px;
  border: 1px solid #ccc;
  margin: 30px 20px 20px 60px;
  line-height: 60px;
  text-align: center;
}

.ta-single__footer {
  width: 425px;
  height: 230px;
  margin: 0 auto;
  &__a {
    text-align: center;
    color: #333;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
  }
  &__logo {
    width: 80px;
    height: 65px;
    margin: 20px 20px 20px 170px;
  }
  &__b {
    text-align: center;
    font-size: 13px;
  }
  &__c{
    margin-top: 40px;
    margin-left: 15px;
    color: #333;
    text-decoration: none;
    font-size: 12px;
  }

}


