.m-aside {
  height: 260px;
  color: rgb(255, 255, 255);
  background: url("https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg");
  background-position: center;
  background-size: cover;
  &__container {
    width: 750px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__top {
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 600;
      }
      &__center {
        font-size: 35px;
        margin-bottom: 20px;
      }
      &__low {
        display: flex;
        align-items: center;
        .mercari-icon {
          margin-right: 20px;

        }
        .app-store-icon {
          margin-right: 8px;
          &:hover {
            opacity: .7;
          }     
        }
        .google-play-icon {
          &:hover {
            opacity: .7;
          }
        }
      }
    }
  }
}