.m-search {
  width: 100%;
  &__container {
    width: 1020px;
    height: 1270px;
    margin: 0 auto;
    padding: 40px 0;
    &__content {
      display: flex;
      &__search-box {
        width: 280px;
      }
      &__search-result {
        width: 700px;
        height: 1190px;
        margin-left: 40px;
      }
    }
  }
}