.m-search {
  width: 100%;

  &__container {
    width: 1020px;
    margin: 0 auto;
    padding: 40px 0;

    &__content {
      display: flex;

      &__search-box {
        width: 280px;
      }

      &__search-result {
        width: 700px;
        margin-left: 40px;

        &__text {
          font-size: 24px;
          font-weight: 600;
          height: 24px;
          margin-bottom: 16px;

          & span {
            font-weight: normal;
            font-size: 20px;
          }
        }

        &__num {
          height: 12px;
          margin-bottom: 16px;
          font-size: 12px;
          color: rgb(136, 136, 136);
        }

        &__products {
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          a {
            text-decoration: none;
            color: #fff;
          }

          &__border {
            height: 222px;
            width: 158px;
            margin-top: 16px;
            border: solid 1px transparent;

            &:hover {
              border: solid 1px #038de3;
              transition: .2s;
            }

            &__product {
              background-color: white;
              height: 222px;
              width: 158px;
              box-shadow: 1px 3px 3px rgba(0, 0, 0, .2);
              margin: auto;
              position: relative;

              &__image {
                height: 158px;
                width: 158px;
                position: relative;

                .price {
                  font-size: 17px;
                  display: inline-flex;
                  align-items: center;
                  background: rgba(0, 0, 0, .4);
                  border-radius: 0 14px 14px 0;
                  padding: 0 12px;
                  letter-spacing: .2em;
                  position: absolute;
                  bottom: 8px;
                  left: 0;
                  z-index: 2;
                  height: 28px;
                }
              }

              &__caption {
                height: 64px;
                padding: 0 12px;
                font-size: 14px;
                color: #222;
                white-space: normal;
                word-break: break-all;
                line-height: 1.4em;
                display: flex;
                align-items: center;

                &__text {
                  overflow: hidden;
                  height: 2.8em;
                  display: inline-block;
                }
              }
            }
          }
        }
      }
    }
  }
}